@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-v24-latin-500-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-v24-latin-500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-v24-latin-600-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-v24-latin-600-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-v24-latin-700-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-v24-latin-700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-v24-latin-800-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-v24-latin-800-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-v24-latin-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-v24-latin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/ptserif-regular-webfont.woff2') format('woff2'),
         url('../fonts/ptserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}