$font-family--global: 'montserrat', sans-serif;
$font-family--supplement: 'pt_serif', serif;

$color-text--black: #000000;
$color-text--white: #FFFFFF;
$color-text--grey: #999999;

$color-bg--grey: #F5F5F5;
$color-bg--yellow: #F9CA25;
$color-bg--black: hsla(0,0,0,.6);

$color-icon-grey: #999999;

$font-size--xs: 14px;
$font-size--s: 16px;
$font-size--m: 18px;
$font-size--l: 22px;
$font-size--xl: 52px;
$font-size--xxl: 72px;

$screen-table: 860px;
$screen-desktop: 1440px;